<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    
    <div class="sticky">
      <nav class="top-bar" data-topbar role="navigation">
        <ul class="title-area">
          <li class="name">
            <h1><%= link_to "Runners", root_path %></h1>
          </li>
        </ul>
        <ul class="name">
            <li class="list">
              <h1><%= link_to "asd", runners_path %></h1>
            </li>
        </ul>
      </nav >
    </div>

    <div class="small-4 medium-6 large-12 columns">
      <%= yield %>
    </div>

  </body>
</html>
